<mat-toolbar color="primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon">
        <mat-icon>assignment</mat-icon>
    </a>
    <span>Examinate</span>
    <span class="example-spacer"></span>
    <a *ngIf="!isLoggedIn" [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Iniciar Sesión
    </a>
    <a *ngIf="!isLoggedIn" [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml20"
        arial-label="Example icon-button with heart icon">
        Registrarse
    </a>
    <a *ngIf="isLoggedIn && user" mat-button routerLink="/admin/profile"
        class="example-icon favorite-icon" arial-label="Example icon-button with heart icon">
        {{ user.username }}
    </a>
    <a *ngIf="isLoggedIn" (click)="logout()" mat-icon-button
        class="example-icon favorite-icon mr20 ml20" arial-label="Example icon-button with heart icon">
        Cerrar Sesión
    </a>
    
</mat-toolbar>