<mat-toolbar color = "primary">
    <a [routerLink]="'/'" mat-icon-button class="example-icon" arial-label="Example icon-button with menu icon">
        <mat-icon>menu_books</mat-icon>
    </a>
    <span>Portal de examenes</span>
    <span class="example-spacer"></span>
    <a *ngIf = "!login.isLoggedIn()" 
        [routerLink]="'/login'" mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        Iniciar Sesión
    </a>
    <a *ngIf = "!login.isLoggedIn()"
        [routerLink]="'/signup'" mat-icon-button class="example-icon favorite-icon mr20 ml70"
        aria-label="Example icon-button with heart icon">
        Registrarse
    </a>
    <a *ngIf = "login.isLoggedIn()"
        (click) = "logout()"
        style="margin-right: 50px;"
        mat-icon-button class="example-icon favorite-icon mr20 ml70"
        aria-label="Example icon-button with heart icon">
        Cerrar Sesión
    </a>
    <button
        *ngIf = "login.isLoggedIn()"
        style="margin-right: 10px;"
        mat-icon-button class="example-icon favorite-icon"
        aria-label="Example icon-button with heart icon">
        {{ login.getUser().username }}
    </button>
</mat-toolbar>